body
{
    font-family: 'Roboto Slab', serif;
    margin: 0;
}
.main-div
{
    display: flex;
    align-items: center;
   padding-left: 150px;
    background-color: rgb(237, 209, 214);
    
}

.top-image{

    width: 500px;
   padding-right: 200px;
}

.first-btn
{
background-color: rgb(245, 121, 142);
padding: 20px;
border-radius: 5px;
border: 0;
color: whitesmoke;
font-weight: 600;
}

.inner-div
{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;

}

.contianer-features
{
    display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.links
{
    display: flex;
    gap: 200px;
    padding-left: 350px;
}

.id-linked
{
    padding-left: 200px;
    padding-top: 20px;
}

#id-linkes
{
    padding-left: 100px;
    padding-top: 20px;
     
}
.first-pic
{
    background-color: pink;
    height: 500px;
    border-top-left-radius: 80px 80px;
    border-top-right-radius: 80px 80px;
}

.second-pic
{
    background-color: skyblue;
    height: 500px;
    border-top-left-radius: 80px 80px;
    border-top-right-radius: 80px 80px;
}

.third-pic
{
    background-color: rgb(115, 171, 115);
    height: 500px;
    border-top-left-radius: 80px 80px;
    border-top-right-radius: 80px 80px;
}

.contianer-third
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(184, 180, 180);
    width: 1000px;
    height: 300px;
    gap: 150px;
    margin-left: 400px;
    margin-top: 40px;
    border-radius: 10px;
    
}


.container-fourth
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}

.flex-img img
{
    width: 70%;
}

.bottom-btn
{

    height: 40px;
    width: 80px;
    background-color:rgb(245, 121, 142);
    border-radius: 4px;
    border: 0;
}

.container-fourth
{
    background-color: rgb(251, 227, 227);
    margin-top: 100px;
}


.div
{
    display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}



.text-zone
{
   text-align: center;
}

.search
{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.width
{
    width: 400px;
}

.submit
{
    height: 40px;
    width: 80px;
    background-color: palevioletred;
    border: 0;
    border-radius: 4px;
    color: azure;
    
}

.last-contiainer
{
    margin-top: 50px;
    background-image: url("./FlowerAsset/Rectangle\ 9.png");
}

span
{
    color: palevioletred;
}

.spaned
{
    color: white;
}

.counter
{
    color: palevioletred;
}

.texted
{
    text-align: center;
    background-color: black;
    height: 500px;
   padding-top: 70px;

}

footer
{
    margin-top: 150px;
}

.last-p
{
    color: aliceblue;
}